base(href='/')
meta(charset='utf-8')
meta(name='description' content='Paperless - Document Management System')


link(rel="stylesheet" href="lib/angular-material/angular-material.min.css")

link(rel="stylesheet" href="lib/animate.css/animate.min.css")

link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
link(href='https://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css')

link(rel='stylesheet' href="lib/font-awesome/css/font-awesome.min.css")

link(rel='stylesheet' type='text/css' href='lib/sweetalert/dist/sweetalert.css')

link(rel="stylesheet" type="text/css" href="lib/ngprogress/ngProgress.css")

link(rel='stylesheet' type='text/css' href='css/main.css')


script(src="lib/angular/angular.min.js")
script(src="lib/angular-ui-router/release/angular-ui-router.min.js")
script(src="lib/angular-aria/angular-aria.min.js")
script(src="lib/angular-animate/angular-animate.min.js")
script(src="lib/angular-material/angular-material.min.js")
script(src="lib/angular-resource/angular-resource.min.js")
script(src="lib/angular-route/angular-route.min.js")

script(src="lib/ng-file-upload/ng-file-upload.min.js")
script(src="lib/ng-file-upload-shim/ng-file-upload-shim.min.js")

script(src="lib/ngprogress/build/ngprogress.min.js")

script(src="lib/moment/min/moment.min.js")

script(src="lib/sweetalert/dist/sweetalert.min.js")

script(src="js/bundle-min.js")


title Paperless | Go paperless overnight.
