md-content.welcome(flex ui-view="login-signup")
footer.text-center
  span Copyright (c) 2015 Copyright Holder All Rights Reserved. A project by &nbsp;
  span.emphasize Lawrence McBhee &nbsp;
  | @
  a.emphasize(href="https://www.andela.com") andela. &nbsp;
  span.emphasize #TIA
